html, body {

    background-color: #fff;

    font-family: 'Roboto', sans-serif;

    font-weight: 200;

    height: 100vh;

    margin: 0;

}

body {

    /*background-image: url('');*/

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: 100% 100%;

}

.card-footer {
    border-top: 0px;
}

.card-body {

    align-items: center;

    color: #ebebeb;

    display: flex;

    flex-direction: column;

    justify-content: center;

    background: rgba(69, 69, 69, 0.42);

    text-align: center;

    height: 700px;

    width: 700px;

    position: absolute;

    left: 50%;

    transform: translate(-50%, -50%);

    top: 50%;

    border: 10px solid rgba(255,255,255,.65);

}

.card-subtitle {

    color: #3d62f5;

    justify-content: left;

    transform: translate(0%, -30%);

    font-size: 26px;

    align-content: flex-start;
}

.card-subtitle2 {

    color: #3d62f5;

    justify-content: left;

    font-size: 18px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li-v {
    list-style-type: none;

    display: block;
}

.img {
    border-radius: 8px;
    padding: 5px;
    width: 150px;
}

.no-img {
    border: 1px solid green;
}

.container {
    display: -webkit-flex;
    display: flex;
    align-content: flex-end;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #e57373;
}

li {
    display: inline-block;
    margin: 12px 30px 4px 0;
}

.card-header {

    color: #3d62f5;

    font-size: 30px;

    letter-spacing: .1rem;

    align-items: center;

    justify-content: space-evenly;

    display: flex;

    position: absolute;

    left: 25%;

    top: 18px;

}

.page-header {

    color: #3d62f5;

    font-size: 30px;

    letter-spacing: .1rem;

    align-items: center;

    justify-content: space-evenly;

    display: flex;

    left: 42%;

    position: absolute;

    top: 18px;

}

.col-md-8 offset-md-4{

    text-align: center;

}

a{

    color: #ebebeb;

}

a:hover{

    color: #e6da02

}
